<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Notas</title>
</head>
<link rel="stylesheet" th:href="@{css/style-interna-card-notas.css}">
<body>
    <h1>Formulário de Notas</h1>
    <form id="formNotas">
        <label for="aluno">Aluno:</label>
        <input type="text" id="aluno" name="aluno">
        <br>
        <label for="disciplina">Disciplina:</label>
        <input type="text" id="disciplina" name="disciplina">
        <br>
        <label for="nota">Nota:</label>
        <input type="number" id="nota" name="nota" min="0" max="10">
        <br>
        <button type="submit">Enviar Nota</button>
    </form>
</body>
</html>
